<ion-content [fullscreen]="true">
  <!-- Botones FAB para tomar fotos -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon> 100%
    </ion-fab-button>
    <ion-fab-button (click)="photoService.addLowQualityPhoto()" class="low-quality-btn">
      <ion-icon name="camera-outline"> </ion-icon> 50%
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
        <div class="photo-info">
          <span>Calidad: {{photo.quality || 100}}%</span>
        </div>
        <ion-button expand="block" fill="clear" (click)="photoService.deletePhoto(photo, position)">
          <ion-icon name="trash" color="danger"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>