/* Estilo para el nombre del archivo */
.file-name {
  font-size: 12px;
  text-align: center;
  word-break: break-all;
  padding: 5px;
  color: var(--ion-color-medium);
}

/* Estilo para el botón de carga */
ion-button[expand="block"] {
  margin: 16px;
}